.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-image: url('./../images/spinner.gif');
    background-repeat: no-repeat;
    background-color: #FFF;
    background-position-x: center;
    background-position-y: center;
}

.tree,
.tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-right: -8px;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    /* content: ""; */
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -9px;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 3em;
    color: black;
    font-weight: 500;
    font-size: 17px;
    position: relative;
    text-align: right;
}

.tree ul li:before {
    /* content: ""; */
    display: block;
    width: 22px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    right: -8px;
}

.tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0;
    right: -9px;
}

.level-1 > span  , #ct1_title{
    color: rgb(61, 151, 230);
}
.level-1 .dot2  {
    background-color: rgb(61, 151, 230);
}
.level-2 > span , #ct2_title{
    color: rgb(230, 122, 51);
}
.level-2  .dot2 {
    background-color: rgb(230, 122, 51);
}
.level-3  > span, #ct3_title{
    color: rgb(255, 181, 20);
}
.level-3 .dot2 {
    background-color: rgb(255, 181, 20);
}
.level-4 > span, #ct4_title{
    color: rgb(221, 39, 42);
}
.level-4 .dot2{
    background-color: rgb(221, 39, 42);
}
.level-5 > span, #ct5_title{
    color: rgb(68, 173, 26);
}
.level-5 .dot2{
    background-color: rgb(68, 173, 26);
}
.level-6 > span , #ct6_title{
    color: rgb(127, 0, 255);
}
.level-6 .dot2{
    background-color: rgb(127, 0, 255);
}
.level-7 > span, #ct7_title{
    color: rgb(108, 110, 121);
}
.level-7 .dot2{
    background-color: rgb(108, 110, 121);
}
.level-8 > span, #ct8_title{
    color: rgb(255, 0, 255);
}
.level-8 .dot2{
    background-color: rgb(255, 0, 255);
}

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    color: #369;
}

.tree li button,
.tree li button:active,
.tree li button:focus {
    text-decoration: none;
    color: black;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.container {
    font-family: 'Noto Nastaliq Urdu', serif;
    /*font-family: 'Lato', sans-serif;*/
    /*font-weight: 600;*/
    font-size: 17px;
    text-align: right;
    direction: rtl;
    padding: unset !important;
    max-width: 100%;
}

.close {
    float: left !important;
    margin: 2px 12px 0px 0px;
    line-height: 10px;
}

.filter-option-inner-inner {
    float: right !important;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.detail1 {
    cursor: pointer;
}

.table td {
    text-align: center;
}

.detail2 {
    position: fixed;
    left: 5px;
    top: 60px;
    width: 49%;
    height: 82vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    background-color: hsl(102deg 51% 70%);
    border-radius: 4%;
    transition: width 2s, height 2s;
}
.shrink {
    position: fixed;
    left: 5px;
    top: 60px;
    width: 49%;
    height: 82vh;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 100;
    background-color: hsl(102deg 51% 70%);
    border-radius: 4%;
}

.detail3 {
    position: fixed;
    right: 5px;
    top: 62px;
    width: 49%;
    height: 82vh;
    overflow: auto;
    z-index: 9999;
    background-color: hsl(102deg 51% 70%);
    border-radius: 4%;
}

.card {
    border: unset;
}

.tree li {
    position: relative;
}

.active {
    background-color: hsl(164deg 72% 23%);
    border-radius: 15px;
    color: white;
}

.list:hover {
    background-color: rgb(163 218 139);
    color: black;
    border-radius: 15px;
}

.list {
    width: 41%;
    white-space: nowrap;
    /* overflow: hidden; */
    text-overflow: ellipsis;
}

.title {
    background-color: hsl(164deg 72% 23%);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 100;
    /* letter-spacing: 3px; */
}


.stopic {
    background-color: hsl(220deg 11% 95%);
    padding: 0px 4px;
    width: 130px;
    margin: 5px 5px;
    line-height: 38px;
    border-radius: 12px;
    /* text-align: center; */
    color: black;
    border: 1px solid hsl(164deg 72% 23%);
}

.ltopic {
    background-color: hsl(220deg 11% 95%);
    padding: 0px 4px;
    width: 360px;
    margin: 5px 5px;
    line-height: 37px;
    border-radius: 12px;
    color: black;
    border: 1px solid hsl(164deg 72% 23%);
}

.dot {
    background-color: hsl(164deg 72% 23%);
    border-radius: 50%;
    height: 10px;
    width: 10px;
}

.dot2 {
    background-color: hsl(164deg 72% 23%);
    border-radius: 50%;
    height: 24px;
    width: 24px;
    margin-left: 5px;
}

.wazahat {
    white-space: nowrap;
    overflow: hidden;
    width: 315px;
    text-overflow: ellipsis;
}

.tabs {
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    text-overflow: ellipsis;
}

.bbuttons {
    background-color: hsl(220deg 11% 95%) !important;
    color: black !important;
    padding: 12px 7px !important;
    width: 174px !important;
    border: unset;
    line-height: 29px !important;
    border-radius: 12px !important;
}

.dicon {
    margin-right: 52px;
    cursor: pointer;
    color: red;
}

.iicon {
    margin: 6px;
    font-size: 12px;
    color: white;
}

.islam {
    width: 46%;
    text-align: center;
    padding: 1px;
    margin-top: 50px;
    margin-bottom: 5px;
}

.islam1 {
    width: 46%;
    text-align: center;
    padding: 1px;
    margin-top: 30px;
    margin-bottom: 5px;
}
.nav-col{
    padding-right: unset;
    padding-left: unset;
}
.row {
    margin-right: unset;
    margin-left: unset;
}

.card-body {
    padding: unset;
}

.navigation_bar {
    width: 100%;
    position: sticky;
    top:0;
    height: 47px;
    /* right: 14px; */
    background-color: #f1f1f1;
    padding: 8px;
    z-index: 999;
    /* margin-top: -20px; */
}

.navigation_barg {
    width: 100%;
    position: fixed;
    height: 47px;
    right: 14px;
    background-color: #f1f1f1;
    padding: 8px;
    z-index: 999;
    margin-top: -180px;
}

.unwan {
    max-width: 530px;
    white-space: nowrap;
    /* overflow-x: scroll; */
    /* overflow-y: hidden; */
    text-overflow: unset;
}

/* .unwan::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge and Firefox */
/* .unwan {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
} */
.udetail::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.udetail {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
}

.unwanat {
    color: hsl(164deg 72% 23%);
}

.form-group {
    margin-bottom: unset;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(0.5em + 19.75px + 2px);
    padding: 0.375rem 8px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: black;
    background-color: #f1f2f4;
    background-clip: padding-box;
    border: unset;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.ftitle {
    line-height: 40px;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: unset;
    outline: 0;
    box-shadow: unset;
}

.formo {
    width: 320px;
}

.fselect {
    background-color: hsl(164deg 72% 23%);
    color: white;
    padding: 0px;
}

.oselect {
    padding: 1px;
}

.alert-success {
    width: 100%;
    border-radius: 19px;
    margin: 0px 20px 0px 20px;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    display: block;
    position: absolute;
    left: 148px;
}

.alert-danger {
    width: 54%;
    border-radius: 19px;
    margin: 0px 0px 0px 0px;
    text-align: center !important;
    display: block;
}

.alert-danger ul {
    list-style-type: none;
    line-height: 10px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.alert-success {
    width: 54%;
    border-radius: 19px;
    margin: 0px 0px 0px 0px;
    text-align: center !important;
}

.alert-success ul {
    list-style-type: none;
    line-height: 10px;
    margin-top: 0px;
    margin-bottom: 4px;
}

.fa-edit {
    color: green;
}

.fa-times-circle {
    color: red;
}

.print-delete-msg {
    width: 44%;
    margin: 11px 20.5px;
}

.print-edit-msg {
    width: 44%;
    margin: 11px 20.5px;
}


/* button,
input,
optgroup,
select, */

input {
    margin: 0;
    width: 100%;
    border: unset !important;
    font-family: inherit;
    font-size: 15px !important;
    background-color: #f1f2f4 !important;
}

.dback {
    width: 100vw;
    height: 100vh;
    background-color: rgb(85 96 106 / 40%);
    position: fixed;
    z-index: 99999999999999;
}

.dmsg {
    background-color: #555c64;
    color: white;
    height: 20%;
    width: 25%;
    border-radius: 20px;
}

#confirmation {
    font-family: 'Jameel Noori Nastaleeq';
    font-size: large;
}

.cbutton {
    position: absolute;
    left: 8px;
    bottom: 8px;
}

.comparison {
    height: 100vh;
    width: 100vw;
}

.comp {
    /* position: absolute; */
    top: 10px;
}

.com-head{
    line-height: 3.6rem !important;
}

.cbtn button {
    font-size: 16px !important;
    width: 157px;
    line-height: 33px;
}

.cbtn a {
    margin: 5px 10px;
}

.taqabul {
    background-color: rgb(217, 255, 0);
    color: black !important;
    border-radius: 15px;
    border: 1px solid rgb(165 191 15)
}

.mahol {
    font-size: 16px;
    background-color: hsl(164deg 72% 23% / 51%);
    color: white !important;
    text-align: center;
    width: 100%;
    font-weight: 200;
    padding: 0px 3px;
}

.smahol {
    width: 97px;
}

.smahol2 {
    width: 110px;
}

.emahol {
    width: 98px;
}

.udetail {
    width: 100%;
    height: 250px;
    overflow-y: scroll;
}

.mazmon {
    position: relative;
    /* bottom: 3px;
    left: 0; */
    float: left;
    background-color: #10654e !important;
    color: white !important;
}

.tasheel {
    left: 132px;
}

.tasheel2 {
    position: absolute;
    z-index: 9999;
    top: 56px;
    width: 96%;
}

.pay-overlay {
    position: fixed;
    right: 64px;
    top: 30px;
    width: 90%;
    height: 90%;
    z-index: 99999;
    opacity: 1;
    background-color: black;
}

.overlay-inner {
    width: 80%;
    height: 80%;
    overflow: auto;
    position: relative;
    background-color: white;
    border-radius: 10px;
    border: 8px none white;
    box-shadow: 0px 0px 30px 0px rgb(226, 225, 225);
}

.overlay-close {
    position: absolute;
    height: 26px;
    width: 26px;
    left: auto;
    right: 10px;
    bottom: auto;
    top: 10px;
    color: #fff;
    font-family: Arial;
    font-weight: 100;
    font-size: 17px;
    line-height: 24px;
    border: 2.5px solid #fff;
    border-radius: 26px;
    box-shadow: 0px 0px 15px 1px rgb(226 225 225 / 75%);
    text-shadow: 0px 0px 0px rgb(226 225 225 / 23%);
    background-color: rgba( 0, 0, 0, 1.00)
}

.overlay-head {
    margin-top: 3rem;
    color: black;
    font-family: 'Jameel Noori Nastaleeq' !important;
}

.overlay-bdiv {
    width: 90%;
    margin-top: 36px;
}

.overlay-button {
    border: 2px solid white;
    border-radius: 12px;
}

.accordion {
    border: 2px solid #dfe1e5;
    border-radius: 6px;
}

.btn-link {
    color: blue !important;
    font-size: 20px;
}

.card-body {
    padding-top: 0 !important;
}

.card-header {
    border: 1px solid #dfe1e5;
    border-radius: 6px;
}

.card-header button {
    text-decoration: none !important;
}

.arrow2 {
    width: 20px;
    color: #797d82;
    position: absolute;
    margin-top: -34px;
    left: 34px;
    transform: rotate(90deg);
    margin-left: -7px;
    font-size: 19px;
}



.tooltip1 .tooltiptext {
    visibility: hidden;
    width: auto;
    background-color: #d9ff00;
    color: black;
    white-space: normal;
    line-height: 30px;
    overflow-wrap: break-word;
    text-align: center;
    border-radius: 24px;
    padding: 5px 5px;
    position: absolute;
    z-index: 1;
    width: 125px;
    top: 50px;
    left: 30%;
    margin-left: -44px;
}

.tooltip1 .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #d9ff00 transparent;
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}
.tooltips {
    position: relative;
    overflow: visible;
}

.tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: auto;
    background-color: #ffd000fd;
    color: black;
    white-space: normal;
    overflow-wrap: break-word;
    text-align: center;
    border-radius: 24px;
    padding: 5px 5px;
    font-size: 16px;
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 31%;
    margin-left: -46px;
}

.tooltip2 .tooltiptext2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #ffd000fd transparent;
    
}

.tooltip2 a {
    border-bottom: 1px dotted rgb(38, 204, 233);
}

.tooltip2:hover .tooltiptext2 {
    visibility: visible;
}

.frame {
    background: transparent;
    border: 1px solid #10654e;
    position: absolute;
    height: 250px;
    border-radius: 15px;
    width: 57%;
    top: 56px;
    right: 139px;
    z-index: -1;
    box-shadow: 0px 0px 14px 2px #10654e;
}

.scroll-topics {
    /* width: 100%; */
    height: auto;
    /* display: flex; */
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .scroll-topics::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #aaa;
  }
  
  .scroll-topics::-webkit-scrollbar-thumb {
    background-color: black;
  }

  .nav-title{
     text-wrap:nowrap;
  }
  .navw {
    width: 46%;
    margin: 16px 0px 0px 0px;
}
.bclose {
    display: none;
}
.ctitle {
    scroll-margin-top: 3em;
}

.nav-note {
    display: none;
}

.card select , input {
    font-size: 10px !important;
}

@media only screen and (max-width: 1280px) {
    .stopic {
        width: 94%;
        margin-inline: auto;
    }
    .ltopic {
        width: 94%;
        margin-inline: auto;
    }
    .smahol {
        width: 94%;
    }
    .smahol2 {
        width: 94%;
    }
    .emahol {
        width: 94%;
    }
    .tasheel {
        left: 0;
        bottom: 50px;
    }
    .frame {
        display: none;
    }
}
@media only screen and (max-width: 600px) {
.detail2 {
    height: 65vh;
}
.btitle {
    max-width: 260px;
    max-width: 260px;
    position: fixed;
    z-index: 999999;
}
.list {
    width: 98%;
}
.detail2 {
    width: 98%;
}
.islam1 {
    width: 100%;
}
.navw {
    width: 100%;
}
.navigation_bar{
    flex-wrap: wrap !important;
    line-height: 40px;
}
.detail2{
    top:165px;
}
.scroll-topics::-webkit-scrollbar {
    width: 5px;
    height: 1px; 
}
.shrink {
    background-color: hsl(102deg 51% 70%);
    /* overflow-x: hidden;
    overflow-y: auto; */
    overflow:hidden;
    position: fixed;
    cursor: pointer;
    /* z-index: 100; */
    top: 180px;
    width: 80px;
    height: 80px;
    left: 20px;
    border-radius: 50%;
    transition: width 2s, height 2s;
    transition-timing-function: ease;
}
.bclose {
    /* border: 1px solid #10654e; */
    display: block;
    font-size: 20px;
    width: 37px;
    border-radius: 50%;
    padding-bottom: 11px;
    padding-top: 0px;
    margin: 8px 13px -46px 1px;
    padding-right: 11px;
    z-index: 999999;
    cursor: pointer;
}

.comparison h2{
    font-size: 1.5rem;
}

.comparison {
    height: 226vw;
}

.udetail {
    margin-top: 51px;
}
.tafseeli {
    margin-bottom: 20px;
}
.nav-note {
    background-color: #d9ff00;
    border-radius: 10px;
    border: 1px solid;
    font-size: 12px;
    display: block;
    padding: 0px 3px
}
.shtitle {
    max-width: 1px;
}
.sbclose {
    display: block;
}
#logo {
    background-image: url(../images/logo.png);
    background-size: 90px 88px;
}


}

@media only screen and (min-width: 700px) {
    .comparison {
        height: 100vw;
    }   
    .tafseeli {
        margin-bottom: 20px;
    }
    
    
}

@media only screen and (min-width: 800px) {
    .comparison {
        height: 100vh;
    }   
}
