// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@600&family=Noto+Nastaliq+Urdu&display=swap');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
body {
    background-color: #fff;
}

.bismillah-img {
    text-align: center;
}

.top-nav {
    background: #0e077e;
    padding: 8px;
}

.bismillah-img img {
    width: 136px;
}

.form {
    padding-top: 9px;
    text-align: center;
    span {
        font-size: 45px;
        color: black;
        font-weight: 700;
        border-bottom: 2px solid;
        padding-bottom: 5px;
    }
    p {
        font-family: 'Noto Nastaliq Urdu', serif;
        font-size: 20px;
        line-height: 45px;
        margin-top: 4px;
        font-weight: 600;
        color: #8c929c;
    }
    
    li {
        font-family: 'Noto Nastaliq Urdu', serif;
        font-size: 20px;
        line-height: 45px;
        color: #8c929c;
        font-weight: 600;
        list-style-type: disc;
    }  
    h6 {
        color: #8c929c;
        font-family: 'BebasNeue';
    }
    
    p.second {
        font-size: 42px;
    }
    button {
        font-family: 'Noto Nastaliq Urdu', serif;
        border: 2px solid #8c929c;
        margin-top: 50px;
        color: #8c929c;
        border-radius: 39px;
        font-size: 15px !important;
        // overflow-y: scroll;
        padding: 0px 15px 6px 15px !important;
        line-height: 34px;
        padding: 6px 39px;
        margin-left: 15px;
    }
    button:hover {
        background: #8c929c;
        border: 2px solid #8c929c;
        margin-top: 50px;
        color: #fff;
    }
    .info {
        // border: 2px solid #000;
        padding: 100px 20px;
        transition: .5s all ease-in-out;
        background: white !important;
    }
    .info:hover {
        transition: .5s all ease-in-out;
    }
    .wrapper {
        border: 2px solid #dfe1e5;
        border-radius: 6px;
    }
    .blue {
        font-family: 'Noto Nastaliq Urdu', serif;
        color: blue;
        font-size: 20px;
        line-height: 44px;
        cursor: pointer;
        border: unset;
    }
    .green {
        font-family: 'Noto Nastaliq Urdu', serif;
        color: green;
        cursor: pointer;
        border: unset;
    }
    .red {
        font-family: 'Noto Nastaliq Urdu', serif;
        color: red;
        font-size: 20px;
        text-align: center;
    }
    .alert img {
        width: 100%;
    }
}

.for-login {
    text-align: center;
    border: 1px solid #ccc;
    padding: 50px 50px 85px;
    box-shadow: 0px 1px 10px 4px #e7e7e7;
    h2 {
        font-size: 37px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    p {
        font-size: 21px;
        margin-bottom: 25px;
    }
    .login-btns button {
        font-size: 17px;
    }
}

.login-registration {
    margin: 3% 7%;
    border: 1px solid #ccc;
    padding-bottom: 30px;
    li.nav-item {
        width: 50%;
        text-align: center;
    }
    .nav-pills .nav-link {
        border-radius: unset;
        background-color: #d9d9db6b;
    }
    .fb-goo {
        margin: 16px 0 16px;
        padding-bottom: 20px;
        border-bottom: 1px solid #ccc;
    }
    button.btn.btn-primary.btn-lg.btn-block.google {
        background: #DF4A32;
        border-color: #DF4A32;
    }
    button.btn.btn-primary.btn-lg.btn-block.facebook {
        background: #49639F;
        border-color: #49639F;
    }
    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
        color: #555454;
        background-color: transparent;
        padding: 14px;
        font-size: 20px;
    }
    .nav-item a {
        padding: 14px;
        font-size: 20px;
        font-weight: 500;
    }
    .craete-account p {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        color: #555454;
    }
    .login-form {
        padding: 0 10px;
    }
    button.btn.btn-primary.btn-lg.btn-block.facebook svg {
        margin-right: 14px;
    }
    button.btn.btn-primary.btn-lg.btn-block.google svg {
        margin-right: 34px;
    }
}

.btn.btn-primary.nav {
    text-align: center;
    padding: 1px 14px;
    font-size: 18px;
    margin: 0px 4px;
    color: black;
    background-color: white;
    border: none;
}

.btn-primary {
    background-color: transparent;
}

.btn.btn-primary.small {
    background-color: dimgray;
    font-size: small;
    float: left;
    padding: 1px 11px;
    margin: 29px 7px;
}

// .main {
//     margin: 0px 62.5px;
// }

.accordion {
    background-color: black;
    height: 142px;
    color: white;
    width: 241px;
    border-radius: 21px;
    padding-top: 49px;
    margin: 34px 9px;
}

.text {
    font-size: 19px;
}

.alert {
    background-color: white;
    color: black;
    font-size: 25px;
    border-top: 2px solid #dfe1e5;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 6px;
    text-align: right;
    padding-right: 12px;
    font-family: 'Noto Nastaliq Urdu', serif;
    border-bottom: unset;
}

.arrow {
    width: 20px;
    color: #797d82;
    padding: 3px 24px 0px 15px;
    margin-top: -35px;
    margin-left: -9px;
    font-size: 19px;
    transform: rotate(90deg);
}

.arrow2 {
    width: 20px;
    color: #797d82;
    padding: 3px 24px 0px 15px;
    margin-top: -35px;
    margin-left: -9px;
    font-size: 19px;
    transform: rotate(-90deg);
}

.age {
    background-color: #8c929c;
    border-radius: 25px;
}

.input {
    margin: 1px 11px;
}

p.third {
    font-size: 16px;
    color: black;
}

.bigcircle {
    width: 80px;
    height: 80px;
    color: black;
    padding-top: 13px;
    font-size: 32px;
    margin-top: 50px;
    border-radius: 40px;
    background-color: green;
}

.smallcircle {
    width: 50px;
    padding-top: 12px;
    height: 50px;
    color: black;
    position: absolute;
    border-radius: 25px;
    cursor: pointer;
}

.first {
    margin: -5px 0px 0px 1px;
    background-color: #f4ec0ee8;
}

.second {
    margin: 51px 0px 22px 68px;
    background-color: transparent;
}

.third {
    margin: 122px 0px 0px 41px;
    background-color: #203ab8;
}

.forth {
    margin: 122px 1px 1px -45px;
    background-color: red;
}

.fifth {
    margin: 51px 1px 1px -68px;
    background-color: #35c9e1;
}

.sixth {
    margin: 6px 1px 1px -47px;
    background-color: #35e13a;
}

@media (max-width: 700px) {
    .login-registration {
        margin: 3% 3%;
    }
    .form button {
        overflow-y: scroll;
    }
}